#Files to ignore
Ausarbeitung.acn
Ausarbeitung.aux
Ausarbeitung.bcf
Ausarbeitung.blg
Ausarbeitung.bbl
Ausarbeitung.glo
Ausarbeitung.log
Ausarbeitung.out
Ausarbeitung.pdf
Ausarbeitung.lof
Ausarbeitung.lot
Ausarbeitung.run.xml
Ausarbeitung.synctex.gz
Ausarbeitung.toc
Ausarbeitung.xdy
Schreibprozess_nach_Krause.pdf
/attached_files/*.iso
*.log
*.lof
*.lot
*.bbl
*.blg